*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

header{
    background-color: darkorange;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

section{
    margin-bottom: 64px;
}


#quienes-somos{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 40px;
    margin-top: 64px;
    margin-bottom: 64px;
    align-items: center;
}

.titulo{
    display: block;
}

#servicios{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff8ec;   
}

#servicios h2{
    text-align: center;
    color: darkorange;
}

.cards{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}

#contacto{
    display: flex;
    justify-content: center;
    gap: 80px;
}

footer{
    background-color: darkorange;
    color: white;
    text-align: center;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}

#hero{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
}

.premium{
    color: orange;
    font-weight: bold;
}

.parrafo{
    color: gray;
}

.cta{
    background-color: orange;
    color: white;
    border-radius: 50px;
    padding: 8px;
    border: 0;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
}

.cta:hover{
    background-color: #c38002;
}